body {
  background: url(../images/Crystal-Collector-Game-Background.jpeg) no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#title {
  text-align: center;
  font-size: 2.5rem;
  padding: 5px;
  margin: 10px;
}

#instructions {
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}
.container{
    margin-top: 20px;
}
.wins-losses-container{
    display: flex;
    justify-content: space-around;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}


